.wrapper {
    padding-top: 50px;
    background-image: linear-gradient(to left bottom, rgb(167, 165, 166), #3b3a3a);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  