.card {
    background: rgb(90, 89, 74);
    border-radius: 4px;
    height: 250px;
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:rgb(34, 34, 33);
  }
  .card > .img-container > img {
    width: 100%
  }
